.nav{
    display: flex;
    justify-content: space-around;
    background-color: pink;
    height: 50px;
    padding-top:20px ;
    }
    .nav button{
       height: 20px;
       width: 70px;
       background-color:blue
    }
    .img{
        background-color: palevioletred;
        
    }
    .img h1{
        margin-left: 500px;
    }
    .img2{
        display: flex;
        justify-content: space-around;
    }
    .btn{
        display: flex;
        justify-content: space-around;
    }
    .btn button{
        height: 50px;
        width: 300px;
        background-color: palevioletred;
        border-radius: 10px;
       
    }