#header{
    background-color:grey;
    height: 50px;
   text-align:right;
   }
   #myTop{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
   }
#productShow
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#proImage{
    gap:30px;
}